<link rel="stylesheet" href="tarrot.css" />
<script src="jquery-3.6.0.min.js"></script>
<script type="text/javascript">
  function getData() {
    $.getJSON('https://apiroom.net/api/jaromil/tarots', function (json) {
      outputone = json.my_cards[0];
      outputtwo = json.my_cards[1];
      outputthree = json.my_cards[2];
      outputfour = json.my_cards[3];
      outputfive = json.my_cards[4];
      outputsix = json.my_cards[5];
      
      var one = outputone.replace(/ /g, "_");
      var oneOrientation = one.replace(/___/g, " ");

      var two = outputtwo.replace(/ /g, "_");
      var twoOrientation = two.replace(/___/g, " ");

      var three = outputthree.replace(/ /g, "_");
      var threeOrientation = three.replace(/___/g, " ");

      var four = outputfour.replace(/ /g, "_");
      var fourOrientation = four.replace(/___/g, " ");

      var five = outputfive.replace(/ /g, "_");
      var fiveOrientation = five.replace(/___/g, " ");

      var six = outputsix.replace(/ /g, "_");
      var sixOrientation = six.replace(/___/g, " ");

      $("#one").addClass(oneOrientation);
      $("#two").addClass(twoOrientation);
      $("#three").addClass(threeOrientation);
      $("#four").addClass(fourOrientation);
      $("#five").addClass(fiveOrientation);
      $("#six").addClass(sixOrientation);
      console.log(one);
    });
  }


  $(function () {
    getData();
  });
</script>

<div class="tarrotContainer">
  <div id="one"></div>
  <div id="two"></div>
  <div id="three"></div>
  <div id="four"></div>
  <div id="five"></div>
  <div id="six"></div>
</div>