.tarrotContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
#one, #two, #three, #four, #five, #six {
  flex: 1 1 293px;
  background-color: blueviolet;
  width: 293px;
  height: 567px;
  margin: 10px;
}
.The_Fool{
background-image: url(decks/a22.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.The_Magician{
background-image: url(decks/a01.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.The_High_Priestess{
background-image: url(decks/a02.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.The_Empress{
background-image: url(decks/a03.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.The_Emperor{
background-image: url(decks/a04.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.The_Hierophant{
background-image: url(decks/a05.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.The_Lovers{
background-image: url(decks/a06.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.The_Chariot{
background-image: url(decks/a07.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Strength{
background-image: url(decks/a11.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.The_Hermit{
background-image: url(decks/a09.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Wheel_of_Fortune{
background-image: url(decks/a10.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Justice{
background-image: url(decks/a08.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.The_Hanged_Man{
background-image: url(decks/a12.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Death{
background-image: url(decks/a13.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Temperance{
background-image: url(decks/a14.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.The_Devil{
background-image: url(decks/a15.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.The_Tower{
background-image: url(decks/a16.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.The_Star{
background-image: url(decks/a17.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.The_Moon{
background-image: url(decks/a18.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.The_Sun{
background-image: url(decks/a19.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Judgment{
background-image: url(decks/a20.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.The_World{
background-image: url(decks/a21.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Ace_of_Wands{
background-image: url(decks/b01.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Two_of_Wands{
background-image: url(decks/b02.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Three_of_Wands{
background-image: url(decks/b03.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Four_of_Wands{
background-image: url(decks/b04.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Five_of_Wands{
background-image: url(decks/b05.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Six_of_Wands{
background-image: url(decks/b06.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Seven_of_Wands{
background-image: url(decks/b07.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Eight_of_Wands{
background-image: url(decks/b08.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Nine_of_Wands{
background-image: url(decks/b09.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Ten_of_Wands{
background-image: url(decks/b10.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Page_of_Wands{
background-image: url(decks/b11.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Knight_of_Wands{
background-image: url(decks/b12.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Queen_of_Wands{
background-image: url(decks/b13.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.King_of_Wands{
background-image: url(decks/b14.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Ace_of_Cups{
background-image: url(decks/c01.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Two_of_Cups{
background-image: url(decks/c02.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Three_of_Cups{
background-image: url(decks/c03.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Four_of_Cups{
background-image: url(decks/c04.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Five_of_Cups{
background-image: url(decks/c05.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Six_of_Cups{
background-image: url(decks/c06.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Seven_of_Cups{
background-image: url(decks/c07.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Eight_of_Cups{
background-image: url(decks/c08.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Nine_of_Cups{
background-image: url(decks/c09.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Ten_of_Cups{
background-image: url(decks/c10.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Page_of_Cups{
background-image: url(decks/c11.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Knight_of_Cups{
background-image: url(decks/c12.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Queen_of_Cups{
background-image: url(decks/c13.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.King_of_Cups{
background-image: url(decks/c14.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Ace_of_Swords{
background-image: url(decks/e01.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Two_of_Swords{
background-image: url(decks/e02.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Three_of_Swords{
background-image: url(decks/e03.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Four_of_Swords{
background-image: url(decks/e04.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Five_of_Swords{
background-image: url(decks/e05.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Six_of_Swords{
background-image: url(decks/e06.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Seven_of_Swords{
background-image: url(decks/e07.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Eight_of_Swords{
background-image: url(decks/e08.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Nine_of_Swords{
background-image: url(decks/e09.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Ten_of_Swords{
background-image: url(decks/e10.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Page_of_Swords{
background-image: url(decks/e11.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Knight_of_Swords{
background-image: url(decks/e12.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Queen_of_Swords{
background-image: url(decks/e13.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.King_of_Swords{
background-image: url(decks/e14.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Ace_of_Pentacles{
background-image: url(decks/d01.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Two_of_Pentacles{
background-image: url(decks/d02.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Three_of_Pentacles{
background-image: url(decks/d03.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Four_of_Pentacles{
background-image: url(decks/d04.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Five_of_Pentacles{
background-image: url(decks/d05.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Six_of_Pentacles{
background-image: url(decks/d06.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Seven_of_Pentacles{
background-image: url(decks/d07.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Eight_of_Pentacles{
background-image: url(decks/d08.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Nine_of_Pentacles{
background-image: url(decks/d09.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Ten_of_Pentacles{
background-image: url(decks/d10.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Page_of_Pentacles{
background-image: url(decks/d11.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Knight_of_Pentacles{
background-image: url(decks/d12.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.Queen_of_Pentacles{
background-image: url(decks/d13.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.King_of_Pentacles{
background-image: url(decks/d14.jpg);
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
}
.downwards{
-webkit-transform: rotateX(180deg);
transform: rotateX(180deg);
}